html {
    font-size: 100%;
    line-height: 1.5rem;
    box-sizing: bprder-box;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    min-height: 100%;
    max-width: 100%;
    padding-bottom: 10rem;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    width: 100%;
    height: auto;
    display: black;
}
.hero-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0px;
    align-content: center;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
}

.hero-image-box {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.hero-image-box:after {
    content: "";
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(145, 73, 40, 0.4);
}

.hero-image {
    display: grid;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.hero-text-box {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    align-self: center;
    padding: 1rem;
    z-index: 10;
    text-align: center;
}

.hero-heading {
    font-size: 3rem;
    line-height: 3rem;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.hero-text {
    font-size: 2rem;
    color: white;
}

.portfolio-container {
    margin: 1rem auto 0 auto;
}

.portfolio-container h1 {
   font-size: 2rem;
   line-height: 2rem;
   color: green;
}

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0.5rem;
    grid-auto-rows: 300px;
}

.gallery-item {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.gallery-image {
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}

.gallery-image:hover {
    transform: scale(1.5);
}

@media (min-width: 600px) {
    .hero-heading {
        font-size: 4rem;
        line-height: 4rem;
    }
    .hero-text {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .portfolio-container h1 {
        font-size: 3rem;
        line-height: 3rem;
        padding-left: 1rem;
    }
}

@media (min-width: 920px) {
    .hero-heading {
        font-size: 9rem;
        line-height: 9rem;
    }
    .hero-text {
        font-size: 4rem;
        line-height: 4rem;
    }
    .portfolio-container {
        max-width: 1440px;
    }
    .portfolio-container h1 {
        font-size: 6rem;
        line-height: 6rem;
    }
}
